.entrust-white {
    color: #F8F4E3;
}

.entrust-orange {
    color: #EA8C55;
}

.entrust-purple {
    color: #0D0221;
}

.entrust-light-blue {
    color: #26408B;
}

.entrust-white-bg {
    background-color: #F8F4E3;
}

.entrust-orange-bg {
    background-color: #EA8C55;
}

.entrust-purple-bg {
    background-color: #0D0221;
}

.entrust-light-blue-bg {
    background-color: #26408B;
}

.white-bg {
    background-color: white;
}


/* Font styles */
.heading {
    font-size: 32px;
    font-weight: 600;
}

.sub-heading {
    font-size: 24px;
    font-weight: 600;
}

.content {
    font-size: 18px;
    font-weight: 600;
}

.sub-content {
    font-size: 16px;
    font-weight: 600;
}


/* Padding and Margin */
.pd-48 {
    padding: 48px;
}
.mrg24-B {
    margin-bottom: 24px;
}
.mrg16-B {
    margin-bottom: 16px;
}
.mrg24-T {
    margin-top: 24px;
}
.mrg16-T {
    margin-top: 16px;
}


/* Text and list decoration */
.no-text-decoration {
    text-decoration: none;
}

.no-list-decoration {
    list-style-type: none;
}

#pills-tabContent {
    padding: 1.5rem 0rem;
}

.nav-item .active {
    background-color: #0D0221 !important;
}