html, body {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat';
}


nav {
  position: fixed;
  padding: 2rem;
}

#menu-btn {
  position: relative;
  cursor: pointer;
  color: #0D0221;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}

nav.sticky {
  background-color: #0D0221;
}


/* Carousal Background */

.container-carousal {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  animation: animate 16s ease-in-out infinite;
  background-size: cover;
}

.outer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.details {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.navbar-wrapper {
  position: absolute;
  width: 100%;
}

@keyframes animate {
  0%,
  100% {
    background-image: url("./assets/home-bg-1.jpg");
  }
  33.33% {
    background-image: url("./assets/home-bg-2.jpg");
  }
  66.66% {
    background-image: url("./assets/home-bg-3.jpg");
  }
}

.container-static-img-about-us {
  background-image: url(./assets/about-us-bg.svg);
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.container-static-img-services {
  background-image: url(./assets/services-bg.svg);
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.container-static-img-careers {
  background-image: url(./assets/careers-bg.svg);
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.container-static-img-contact-us {
  background-image: url(./assets/contact-us-bg.jpg);
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
}

/* Text Block */

.content-align {
  margin: auto;
  padding: 3rem;
}


/* About Us Page styling */

@media screen and (min-width: 600px) {
  .statement-box {
    border: #0D0221 2px;
    border-radius: 5px;
    margin: 0rem 6rem;
  }
}

@media screen and (max-width: 600px) {
  .statement-box {
    border: #0D0221 2px;
    border-radius: 5px;
  }
}

.nav-link .active {
  color: #F8F4E3 !important;
}

.content-justify {
  display: flex;
  justify-content: center;
}


/* For Maps Frame */

.iframe-embed {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 0;
}

.iframe-embed-wrapper {
  position: relative;
  display: block;
  padding: 0;
  overflow: hidden;
}

.iframe-embed-responsive-16by9 {
  padding-bottom: 56.25%;
}


/* Border */

.border-box {
  border: #0D0221 10px solid;
  border-radius: 10px;
}


/* Accordian styling */
.accordion-section {
  background-color: #0D0221;
  color: #F8F4E3;
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  /* font-size: 15px; */
  transition: 0.4s;
}

/* .active, .accordion-section:hover {
  background-color: #26408B; 
} */

.accordion-section:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  /* font-size: 13px; */
  color: #F8F4E3;
  float: right;
  margin-left: 1rem;
}

.panel {
  padding: 1rem 1rem;
  display: none;
  background-color: #F8F4E3;
  color: #26408B;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}